<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calebevans.playsong</string>
	<key>connections</key>
	<dict>
		<key>054A5824-BBBA-43E5-9492-45181B0DD168</key>
		<array/>
		<key>22BD6744-6CF7-420B-B895-7B1CBDD0976B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D86BD00-4048-465E-AAC1-86D50B74629E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B283E10-828A-4FCC-A2A1-56B52AA6688D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83854546-759A-4F99-8958-CD1683706325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CD827E2-B7A8-4834-8940-AE5AF1137695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Play song directly (the v1 behavior)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search song in album on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue song in album</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>57C931A5-C5A1-4736-8E69-98186EF11E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C6C2CCA-200F-4023-ABD4-C043EA502F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58C77E93-70C2-481F-868E-4F96EA9FE5CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue album</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D9A170B-0948-4C54-B273-886CB96C7EFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F8ECD8-2111-4E93-900F-4AD4026FC950</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue genre</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7B245726-B1C7-419F-BACF-F5AF6435433F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search album by artist on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue album by artist</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7EA28496-C411-499F-BEE6-7B5DCD715D1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83854546-759A-4F99-8958-CD1683706325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1DA64D4-39FE-43A4-B228-4912D83531CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search artist on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue artist</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>9DFE346B-972E-4682-90C3-ACF173B21806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Play song directly (the v1 behavior)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search song by artist on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue song by artist</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7B7F606-369F-4389-81E1-84B36ACF02EC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue playlist in iTunes</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5D4F404-B842-4213-8D1B-37439D2FAD14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Play song directly (the v1 behavior)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search song on Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue song</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E6FA0272-455F-4925-B924-CFBF2C28B18C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7B7F606-369F-4389-81E1-84B36ACF02EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B283E10-828A-4FCC-A2A1-56B52AA6688D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>22BD6744-6CF7-420B-B895-7B1CBDD0976B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBC1CA81-F765-445E-A3C2-1F298A4E5674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED66558-6068-44A5-BD05-425F9ED8A201</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FED66558-6068-44A5-BD05-425F9ED8A201</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>Quickly play songs in iTunes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Play Song</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/play.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>054A5824-BBBA-43E5-9492-45181B0DD168</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsong</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsong.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E5D4F404-B842-4213-8D1B-37439D2FAD14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/play-direct.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B6201EC-7022-4E05-94B5-0C5BF335DC36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playalbum</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playalbum.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play album...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>58C77E93-70C2-481F-868E-4F96EA9FE5CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>3C6C2CCA-200F-4023-ABD4-C043EA502F44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playartist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playartist.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/getsearchquery.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57C931A5-C5A1-4736-8E69-98186EF11E7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>83854546-759A-4F99-8958-CD1683706325</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Queueing Apple Music playlists is not supported at this time</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D1DA64D4-39FE-43A4-B228-4912D83531CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playgenre</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playgenre.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play genre...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>79F8ECD8-2111-4E93-900F-4AD4026FC950</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^subscription_playlist-</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4B283E10-828A-4FCC-A2A1-56B52AA6688D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/queue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9DFE346B-972E-4682-90C3-ACF173B21806</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playplaylist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playplaylist.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play playlist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Result has been queued.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F7B7F606-369F-4389-81E1-84B36ACF02EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^playlist-</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>22BD6744-6CF7-420B-B895-7B1CBDD0976B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playalbumby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>osascript filters/playalbumby.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play album by artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B245726-B1C7-419F-BACF-F5AF6435433F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsongin</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsongin.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song in album...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CD827E2-B7A8-4834-8940-AE5AF1137695</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>playsongby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/osascript filters/playsongby.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Play song by artist...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>playqueue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Play queue for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6FA0272-455F-4925-B924-CFBF2C28B18C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/playqueue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Playing queue...</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D86BD00-4048-465E-AAC1-86D50B74629E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Queue has been cleared.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearqueue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear queue for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBC1CA81-F765-445E-A3C2-1F298A4E5674</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/clearqueue.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FED66558-6068-44A5-BD05-425F9ED8A201</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/osascript actions/clearcache.applescript "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearcache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear cache for Play Song workflow...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EA28496-C411-499F-BEE6-7B5DCD715D1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Cache has been cleared.</string>
				<key>title</key>
				<string>Play Song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D9A170B-0948-4C54-B273-886CB96C7EFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the Play Song GitHub repository:
https://github.com/caleb531/play-song#readme</string>
	<key>uidata</key>
	<dict>
		<key>054A5824-BBBA-43E5-9492-45181B0DD168</key>
		<dict>
			<key>note</key>
			<string>Play Result</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1B6201EC-7022-4E05-94B5-0C5BF335DC36</key>
		<dict>
			<key>note</key>
			<string>Play Result Directly</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>22BD6744-6CF7-420B-B895-7B1CBDD0976B</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>3C6C2CCA-200F-4023-ABD4-C043EA502F44</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>3D9A170B-0948-4C54-B273-886CB96C7EFE</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>444700BE-2A21-4CE8-9F13-E15F0BF8BA7F</key>
		<dict>
			<key>note</key>
			<string>Play Queue</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>4B283E10-828A-4FCC-A2A1-56B52AA6688D</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>4CD827E2-B7A8-4834-8940-AE5AF1137695</key>
		<dict>
			<key>note</key>
			<string>Play Song In Album</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>4D86BD00-4048-465E-AAC1-86D50B74629E</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>57C931A5-C5A1-4736-8E69-98186EF11E7B</key>
		<dict>
			<key>note</key>
			<string>Get Search Query</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>58C77E93-70C2-481F-868E-4F96EA9FE5CC</key>
		<dict>
			<key>note</key>
			<string>Play Album</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6E80AAF6-FE82-44E8-880F-2C0884DB7AC8</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>79F8ECD8-2111-4E93-900F-4AD4026FC950</key>
		<dict>
			<key>note</key>
			<string>Play Genre</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>7B245726-B1C7-419F-BACF-F5AF6435433F</key>
		<dict>
			<key>note</key>
			<string>Play Album By Artist</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>7CC2EAC9-34FD-4664-8D19-E20F45C67F89</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>7EA28496-C411-499F-BEE6-7B5DCD715D1E</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>83854546-759A-4F99-8958-CD1683706325</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>83BF2ABA-1BDE-4370-9790-E5FF5AC8A31A</key>
		<dict>
			<key>note</key>
			<string>Play Artist</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>9DFE346B-972E-4682-90C3-ACF173B21806</key>
		<dict>
			<key>note</key>
			<string>Queue Result</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>9EB36C2B-965B-46F2-AE69-CEFBEDD7CD5C</key>
		<dict>
			<key>note</key>
			<string>Play Song By Artist</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>ADF3849C-38FC-4095-9EFC-6B243A58E9D2</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>C484A050-5DEE-4FFD-8DF7-1A8FEE233E4F</key>
		<dict>
			<key>note</key>
			<string>Play Playlist</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>D1DA64D4-39FE-43A4-B228-4912D83531CD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>E5D4F404-B842-4213-8D1B-37439D2FAD14</key>
		<dict>
			<key>note</key>
			<string>Play Song</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E6FA0272-455F-4925-B924-CFBF2C28B18C</key>
		<dict>
			<key>note</key>
			<string>Play Queue</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>F7B7F606-369F-4389-81E1-84B36ACF02EC</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>FBC1CA81-F765-445E-A3C2-1F298A4E5674</key>
		<dict>
			<key>note</key>
			<string>Clear Queue</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>FED66558-6068-44A5-BD05-425F9ED8A201</key>
		<dict>
			<key>note</key>
			<string>Clear Queue</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>7.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/caleb531/play-song</string>
</dict>
</plist>
